:root {
  --clr-accent: 158, 36%, 37%;
  --clr-bg: 30, 38%, 92%;
  --clr-primary: 212, 21%, 14%;
  --clr-secondary: 228, 12%, 48%;
  --clr-white: 0, 0%, 100%;

  --ff-montserrat: "Montserrat", sans-serif;
  --ff-fraunces: "Fraunces", serif;

  --fw-medium: 500;
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  border: none;
  outline: transparent;
  cursor: pointer;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
